body {
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container {
    max-width: 1200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.narrow {
    max-width: 800px;
}
#totalCostInput, #salaryInput {
    text-align: right;
    width: 200px;
}
.disclaimer {
    font-style: italic;
    color: #6c757d;
}
.sticky-top {
    top: 0;
}
.nav-link {
    color: #4a4a4a;
    transition: color 0.3s ease;
}
.nav-link:hover, .nav-link.active {
    color: #0066cc;
}
.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.coming-soon {
    font-weight: bold;
    color: #0d6efd;
}
.simulator-item {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
}
.simulator-item h3 {
    margin-bottom: 10px;
}
.simulator-item p {
    margin-bottom: 15px;
}
.simulator-item .btn {
    display: inline-block;
    width: auto;
}
.simulator-item:hover {
    background-color: #e9ecef;
}

.bg-gradient {
    background: linear-gradient(to bottom right, #e6f3ff, #e6e6ff);
}

.text-primary {
    color: #0066cc !important;
}

.btn-primary {
    background-color: #0066cc;
    border-color: #0066cc;
}

.btn-primary:hover {
    background-color: #0052a3;
    border-color: #0052a3;
}

.btn-outline-primary {
    color: #0066cc;
    border-color: #0066cc;
}

.btn-outline-primary:hover {
    background-color: #0066cc;
    color: white;
}

.text-secondary {
    color: #4a4a4a !important;
}

.text-secondary:hover {
    color: #4a4a4a !important;
}

@media (max-width: 767.98px) {
    .display-4 {
        font-size: 2.5rem;
    }
}

h1.h3 {
    font-size: 1.5rem; /* Adjust this value as needed */
}

footer .container {
    background-color: transparent;
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
}

footer p {
    margin-bottom: 0;
}